<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Records</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <style type="text/css">
        h1 {
            text-align: center;
            margin: 2rem 0;
        }

        .container {
            margin-top: 5rem;
        }

        .back-button {
            position: absolute;
            top: 10px;
            left: 10px;
        }
    </style>
</head>
<body>
<a href="/admin_dashboard" class="back-button btn btn-light"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M12.354 4.354a.5.5 0 0 0 0-.708L9.707.146a.5.5 0 0 0-.708 0l-8 8a.5.5 0 0 0 0 .708l8 8a.5.5 0 0 0 .708 0l2.647-2.647a.5.5 0 0 0 0-.708L5.707 8l6.647-6.646z"/>
        </svg></a>
    <h1>Records of Submission</h1>
    <div class="container">
        <table class="table table-bordered">
            <thead class="table-dark">
            <tr>
                <th>firstname</th>
                <th>lastname</th>
                <th>birthdate</th>
                <th>gender</th>
                <th>address</th>
                <th>email</th>
                <th>User Type</th>
                <th>Resume</th>
                <th>Certificate</th>
                <th>status</th>
                <th>action</th>
            </tr>
        </thead>
        <tbody>
            {% for data in data %}
            <tr>
                <td>{{data[1]}}</td>
                <td>{{data[2]}}</td>
                <td>{{data[3]}}</td>
                <td>{{data[4]}}</td>
                <td>{{data[5]}}</td>
                <td>{{data[6]}}</td>
                <td>{{data[7]}}</td>
                <td>
                    {% if data[8] %}
                        <a href="{{ url_for('view_file', filename=data[8]) }}" target="_blank">{{ data[8] }}</a>
                    {% endif %}
                </td>
                <td>
                    {% if data[9] %}
                        <a href="{{ url_for('view_file', filename=data[9]) }}" target="_blank">{{ data[9] }}</a>
                    {% endif %}
                </td>
                <td>{{data[10]}}</td>
                <td>
                    <form action="{{ url_for('records', reg_id=data[0]) }}" method="post">
                        <input type="hidden" name="reg_id" value="{{ data[0] }}">
                        <select class="form-select" name="status" onchange="this.form.submit()">
                            <option value="pending" {% if data[8] == 'pending' %}selected{% endif %}>Pending</option>
                            <option value="approve" {% if data[8] == 'approve' %}selected{% endif %}>Approve</option>
                            <option value="reject" {% if data[8] == 'reject' %}selected{% endif %}>Reject</option>
                        </select>
                    </form>
                </td>                                   
            </tr>
            {% endfor %}
        </tbody>        
    </table>
</body>
</html>
